/* CSS declarations go here */



.logo{
	margin-left: 20px;
}

.sign_in{
	margin-right: 20px;
}
.card_custom{
	margin: 50px;
}
.table_img{
	width: 50px;
	height: 50px;
	margin: auto auto;
}

.center-me {
  display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.center-me-small{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
	height: 150px;
}
